body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TODO: Find a way to override vertical slider markers. */
.MuiSlider-marked.MuiSlider-vertical {
  margin-right: auto !important;
  margin-left: 22px;
}

.MuiSlider-vertical .MuiSlider-markLabel {
  left: auto !important;
  right: 22px;
}
